{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": ["airbnb", "prettier"],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "commonjs": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js"]
    }]
  },
  "settings": {
    "import/extensions": [".js", ".ts"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
